@media print {
  body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }

  .content {
      flex: 1;
  }

  footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      page-break-before: always; /* Ensure it appears at the bottom of every page */
  }

  /* Hide elements that are not needed for printing */
  .navbar,.no-print {
      display: none !important;
  }
  .page-container {
    display: block; /* Adjust if you need this to stay visible in print */
  }
}
